.weatherBg{
  background: url('https://images.unsplash.com/photo-1580193769210-b8d1c049a7d9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1748&q=80');
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* background-repeat: no-repeat; */
}

.heading{
  color: #f1f1f1;
  font-weight: 700;
}

.weatherResult{
  /* background-image: url('https://store.hp.com/app/assets/images/uploads/prod/25-best-hd-wallpapers-laptops159561982840438.jpg'); */
  margin-top: 10px;
  background-color: #f1f1f1;
  height: 130px;
  width: 500px;
}

.logobox{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.logo{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.city{
  font-size: 35px;
}

.temp{
  font-size: 45px;
}

.txt1{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  /* color: #f1f1f1; */
}

.txt2{
  display: flex;
  justify-content: center;
  /* color: #f1f1f1; */
}